/* Global settings */
p {
    font-family: "Trebuchet MS";
}

h2 {
    font-family: 'Trebuchet MS';
    text-decoration: underline;
}

li {
    font-family: 'Trebuchet MS';
}

/* Headers */
#main-header {
    font-family: Courier;
    display: flex;
    flex-direction: row;
    margin: 25px 10px 0px 10px;
}

#image-header {
    margin-left: 200px;
}

#text-header {
    background-color: #b8afa6;
    border: 5px solid #808080;
    margin-top: 150px;
    margin-right: 250px;
    padding: 0px 10px 0px 10px;
    border-radius: 25px;
}

.header-item.text p {
    margin-top: 3px;
}

.header-item.image img {
    margin: 0px 50px 0px 50px;
    width: 300px;
    height: 400px;
    border-radius: 25px;
    border: 5px solid #797878;
    object-fit: cover;
}

.links {
    list-style-type: none;
}

.links li {
    font-size: 12px;
    display: inline-block;
    zoom: 1;
}

.links li a {
    background-color: antiquewhite;
    border-radius: 10px;
    color: black; 
    text-decoration: none;
    padding: 4px;
}

/* Main Content */
/* #content {
    display: flex;
    
} */
.row {
    display: flex;
    flex-direction: row;
    margin: 20px 100px 20px 100px;
}

.content-item.text {
    border-radius: 25px;
    padding: 15px;
}

.content-item.text.yellow {
    background-color: #e7e777;
    border: 5px solid #dbdb75
}

.content-item.text.green {
    background-color: #85f185;
    border: 5px solid rgb(139, 185, 139)
}

.content-item.text.blue {
    background-color: rgb(167, 229, 245);
    border:5px solid rgb(164, 203, 212)
}

.content-item.text.gray {
    background-color: rgb(185, 185, 185);
    border: 5px solid rgb(83, 82, 82);
    margin: 20px 200px 100px 200px;
}

.content-item.image {
    display: block;
}

.content-item.image img {
    margin: 0px 50px 0px 50px;
    width: 450px;
    height: 300px;
    border-radius: 25px;
    border: 5px solid #797878;
    object-fit: cover;
}

.content-item.image img:hover {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

/* id's */
#data-sec {
    font-family: 'Trebuchet MS';
    text-decoration: underline;
    font-size: 1.5em;
    background-color: none;
}

#web-sec {
    font-family: 'Trebuchet MS';
    text-decoration: underline;
    font-size: 1.5em;
    background-color: none;
}

#game-sec {
    font-family: 'Trebuchet MS';
    text-decoration: underline;
    font-size: 1.5em;
    background-color: none;
}

#about-me-link {
    font-family: 'Trebuchet MS';
    text-decoration: underline;
    font-size: 1.5em;
    background-color: none;
}

#main-img {
    margin: 0px 50px 0px 50px;
    width: 500px;
    height: 300px;
    border-radius: 25px;
    border: 5px solid #797878;
}